@import '../../../styles/colorCodes.scss';

.searchBarContainer {
    border: solid gray 1px;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    // background: $blue;
}

.searchBox{
    border: none;
    font-size: 1rem;
    &:focus{
        outline: none;
    }
}